<fieldset><legend>existierende Kurse</legend>
<table>
  <tr>
    <th>Name</th>
    <th>aktiv?</th>
    <th>erstellt</th>
  </tr>
{% for item in kurse %}
<tr>
    <td>{{ item.name }}</td>
    <td><a href="{{ toggle }}{{ item.pk }}/" title="aktivieren/deaktivieren">{{ item.active|yesno }}</a></td>
    <td>{{ item.createtime }}</td>
</tr>
{% endfor %}
</table>
</fieldset>

<fieldset><legend>Kurs hinzufügen</legend>
<form method="post" action="{{ url }}">
<ul id="input_fields">
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}{% if field.errors %} error_field{% endif %}">
        {% if field.errors %}{{ field.errors }}{% endif %}
        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
    </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="anmelden" />
</form>
</fieldset>