#input_fields, .errorlist {
    list-style-type:none;
    padding: 0.2em;
    margin: 0.2em;
}
#input_fields li {
    padding: 0.5em 0.2em 0.5em 0.2em;
    margin: 0.2em;
}
#input_fields li li {
    /* e.g. a CheckboxSelectMultiple widget */
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}
#input_fields .field_help_text {
    font-size:0.7em;
    display: block;
    color: #777;
}
#input_fields label {
    color: #333;
    display:block;
}
/* --------------------------------------------------------------
    forms errors
*/
#input_fields .error_field {
    border: 1px solid #f00;
    margin: 5px;
}
.errorlist li {
    padding: 2px 10px 2px 10px;
    margin: 5px;
    color: #fff;
    background-color: #f00;
}