<fieldset><legend>FH-D - 3dsmax - Kursanmeldung - SS 2009</legend>
<table>
<tr>
    <td>Raum:</td>
    <td>Raum N 1.60 (CAD - Arbeitsraum)</td>
</tr>
<tr>
    <td>Zeiten:</td>
    <td>Montag, Vormittags von 09:00 bis 12:00 oder Nachmittags von 13:00 bis 16:00</td>
</tr>
</table>
<form method="post" action=".">
<ul id="input_fields">
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}{% if field.errors %} error_field{% endif %}">
        {% if field.errors %}{{ field.errors }}{% endif %}
        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
    </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="anmelden" />
</form>
</fieldset>